@import url(https://cdn.rawgit.com/openhiun/hangul/14c0f6faa2941116bb53001d6a7dcd5e82300c3f/nanumbarungothic.css);

.scroll-content{
  overflow: hidden;
  margin: 0;
  padding: 0 !important;
}

span {
  display: inline-block;
  text-align: center;
  font-size: 11px;
  font-family: "Nanum Barun Gothic";
}

.blue {
  color: #3d71c8;
}

.red {
  color: #ec3d38;
}

/* ticker_header */
.ticker_header {
  border-bottom: 1px solid #EAEAEA;
  width: 100%;
  height: 20px;
}

.currency_header {
  width: 17%;
  height: 20px;
  text-align: center;
}

.closing_price_header {
  width: 18%;
  height: 20px;
  text-align: right;
}

.day_before_header {
  width: 20%;
  height: 20px;
  text-align: right;
}

.volume_header {
  width: 40%;
  height: 20px;
}

/* ticker_body */
.ticker_body {
  border-bottom: 1px solid #EAEAEA;
  width: 100%;
  height: 40px;
}

.currency_body {
  width: 17%;
  height: 40px;
  text-align: left;
  padding-left: 5px;
}

.closing_price_body {
  width: 18%;
  height: 40px;
  text-align: right;
}

.day_before_body {
  display: inline-block;
  width: 20%;
  height: 40px;
}

.day_before_price {
  display: block;
  width: 100%;
  height: 20px;
  text-align: right;
}

.day_before_percent {
  display: block;
  width: 100%;
  height: 20px;
  float: left;
  text-align: right;
}

.volume_body {
  display: inline-block;
  width: 40%;
  height: 40px;
}

.volume_1day_body {
  display: block;
  width: 100%;
  height: 20px;
  text-align: right;
}

.volume_price_body {
  color: #8C8C8C;
  display: block;
  width: 100%;
  height: 20px;
  float: left;
  text-align: right;
}
